@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Dongle&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

#home_page {
  height: 70vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.045),
      rgba(0, 0, 0, 0.981)
    ),
    url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}

#our-menu{
margin-top:200px;
margin-bottom: 200px;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.122);
  padding: 30px 80px;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.navbar-pages {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 25px;
  font-weight: 300;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;
}

#about {
  background: linear-gradient(to bottom, black, black);
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-story {
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  padding: 11px;

  width: 1030px;
  height: 386px;
}

.about-story__img {
  width: 281px;
  height: 356px;
  object-fit: cover;
}

.about-story__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.rectangular-1 {
  background-color: #e19a2789;
  width: 518px;
  height: 48px;
  position: absolute;
  top: 20px;
  right: 100px;
}

.rectangular-2 {
  background-color: #e19a2789;
  width: 48px;
  height: 326px;
  position: absolute;
  top: 70px;
  left: 200px;
}

.rectangular-3 {
  background-color: #e19a2789;
  width: 418px;
  height: 48px;
  position: absolute;
  bottom: 40px;
  left: -40px;
}

.about-story__text h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;
}

.about-story__text p {
  font-size: 24px;
  font-weight: 200;
  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;
}

#special-offers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  gap: 20px;

  padding-bottom: 200px;
}

.special-offers-cards {
  background-color: white;
  display: flex;
  align-items: center;
  width: 450px;
  height: 420px;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.price-container {
  background-color: #e19a27af;
  color: white;
  position: absolute;
  font-size: 20px;
  padding: 20px;

  right: 0px;
}
.special-offers__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}


.special-offers_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.special-offers_text h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
}

.special-offers_text p {
  font-size: 24px;
  font-weight: 200;
}

.our-span {
  border-bottom: 3px solid #e19a2789;
}

.menu-header {
  margin-top: 100px;
}

.menu-header p {
  color: white;
  text-align: center;
  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;
  font-size: 3.5rem;
  margin-bottom:20px;
}

.div-container {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}

.box1 {
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: #e19927;
  opacity: 50%;
  z-index: 50px;
  margin-top: 330px;
  margin-left: -20px;
}
.box2 {
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: #e19927;
  opacity: 50%;

  margin-top: -20px;
  margin-left: 455px;
}
.box3 {
  width: 350px;
  height: 40px;
  position: absolute;
  background-color: #e19927;
  opacity: 50%;
  z-index: auto;
  margin-top: 200px;
  margin-left: 200px;
}
.menu-picture img {
  position: absolute;
  width: 500px;
}
.cheif-card-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 100vh;
  position: relative;
}

.cheif-card-1 {
  position: absolute;
  top: 300px;
}

.cheif-card {
  position: relative;
}
.cheif-img {
  width: 300px;
  height: 500px;
  padding: 10px;
  object-fit: cover;
}

.description-cheif {
  background-color: white;
  width: 400px;
  height: 250px;
  position: absolute;
  bottom: 20px;
  left: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  border-radius: 2px;
}

.cheif-heading {
  font-size: 50px;
}

.cheif-p {
  font-weight: 300;
  font-size: 20px;
}

#footer {
  height: 30vh;
  position: absolute;
  bottom: px;
}
.footer {
  margin-left: 370px;
}
.footer-container {
  display: flex;
}

.footer-part1 {
  width: 300px;
  height: 90px;
}

.footer-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #334155;
  width: 300px;
  height: 90px;
}

.footer-image {
  width: 300px;
  height: 90px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.footer-button {
  background-color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;

  border-width: thin;
  border-radius: 10px;
  border-color: white;
  color: white;
  line-height: 10px;
  padding: 12px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  position: absolute;
  z-index: 50;
  margin-top: 28px;
  margin-left: 50px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.yellow-hover {
  width: 300px;
  height: 90px;
  background-color: #e19927;
  opacity: 45%;
  position: absolute;
  z-index: 30;
}

.fa-square-facebook {
  color: #cbd5e1;
  font-size: 40px;
  margin-right: 20px;
}

.fa-linkedin {
  color: #cbd5e1;
  font-size: 40px;
}

.fa-instagram {
  color: #cbd5e1;
  font-size: 40px;
  margin-left: 20px;
}

.footer-p {
  color: #cbd5e1;
  font-size: 14px;

  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;
}

#footer-id {
  height: 30vh;
  margin-top: 400px;
  margin-left: 100px;
}

.logo {
  width: 40px;
  width: 40px;
  cursor: pointer;
}
