@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Dongle&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

#home_page {
  height: 70vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.045),
      rgba(0, 0, 0, 0.981)
    ),
    url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.122);
  padding: 30px 80px;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.navbar-pages {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 25px;
  font-weight: 300;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;
}

#about {
  background: linear-gradient(to bottom, black, black);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-story {
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  padding: 11px;

  width: 1030px;
  height: 386px;
}

.about-story__img {
  width: 281px;
  height: 356px;
  object-fit: cover;
}

.about-story__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.rectangular-1 {
  background-color: #e19a2789;
  width: 518px;
  height: 48px;
  position: absolute;
  top: 20px;
  right: 100px;
}

.rectangular-2 {
  background-color: #e19a2789;
  width: 48px;
  height: 326px;
  position: absolute;
  top: 70px;
  left: 200px;
}

.rectangular-3 {
  background-color: #e19a2789;
  width: 418px;
  height: 48px;
  position: absolute;
  bottom: 40px;
  left: -40px;
}

.about-story__text h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;
}

.about-story__text p {
  font-size: 24px;
  font-weight: 200;
  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;
}

#special-offer {
  background: linear-gradient(to bottom, black, #18181b);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.our-span {
  border-bottom: 3px solid #e19a2789;
}

.menu-header {
  margin-top: 100px;
}

.menu-header p {
  color: white;
  text-align: center;
  font-family: "Almarai", sans-serif;
  font-family: "Dongle", sans-serif;
  font-size: 3.5rem;
}

.div-container {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}

.box1 {
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: #e19927;
  opacity: 50%;
  z-index: 50px;
  margin-top: 330px;
  margin-left: -20px;
}
.box2 {
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: #e19927;
  opacity: 50%;

  margin-top: -20px;
  margin-left: 455px;
}
.box3 {
  width: 350px;
  height: 40px;
  position: absolute;
  background-color: #e19927;
  opacity: 50%;
  z-index: auto;
  margin-top: 200px;
  margin-left: 200px;
}
.menu-picture img {
  position: absolute;
  width: 500px;
}
