@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Dongle&display=swap');
body{
background-color: black;
}

.menu-header{
margin-top: 100px;
}

.menu-header p{
color: white;
text-align: center;
font-family: 'Almarai', sans-serif;
font-family: 'Dongle', sans-serif;
font-size: 3.5rem;

}

  .div-container{
  display: flex;
  justify-content: space-between;
  margin-right:100px;
  margin-left: 100px;
  }



.box1{
width:70px;
height: 70px;
position: absolute;
background-color: #E19927;
opacity:50%;
z-index: 50px;
margin-top:330px;
margin-left:-20px;
}
.box2{
width:70px;
height: 70px;
position: absolute;
background-color: #E19927;
opacity:50%;

margin-top:-20px;
margin-left:455px;
}
.box3{
  width:350px;
  height: 40px;
position: absolute;
  background-color: #E19927;
  opacity:50%;
  z-index: auto;
  margin-top:200px;
  margin-left:200px;
  }
.menu-picture img{
position: absolute;
width: 500px;

}

img{
  width: 200px;
  height: 200px;
  padding: 10px;
}

#Our Cheif {
    text-align: center;
}

#cheif ali{
  text-align: center;
}

figcaption{
  margin-left: 20px;
  color: red;
}

h3{
  color:red;
}