* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

#home_page {
  height: 80vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.045),
      rgba(0, 0, 0, 0.981)
    ),
    url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.122);
  padding: 30px 80px;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.navbar-pages {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 25px;
  font-weight: 300;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

img{
  width: 200px;
  height: 200px;
  padding: 10px;
}

#Our Cheif {
    text-align: center;
}

#cheif ali{
  text-align: center;
}

figcaption{
  margin-left: 20px;
  color: red;
}

h3{
  color:red;
}