@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Dongle&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

#home_page {
  height: 70vh;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.045),
      rgba(0, 0, 0, 0.981)
    ),
    url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.122);
  padding: 30px 80px;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.navbar-pages {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 25px;
  font-weight: 300;
  color: white;
}

a {
  text-decoration: none;
  color: white;
font-family: 'Almarai', sans-serif;
font-family: 'Dongle', sans-serif;
}

#about {
  background: linear-gradient(to bottom, black, #18181b);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-story {
  background-color: white;
  display: flex;
  align-items: center;

  gap: 20px;
  padding: 11px;

  width: 1030px;
  height: 386px;
}

.about-story__img {
  width: 281px;
  height: 356px;
  object-fit: cover;
}

.about-story__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.about-story__text h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Almarai', sans-serif;
font-family: 'Dongle', sans-serif;
}

.about-story__text p {
  font-size: 24px;
  font-weight: 200;
  font-family: 'Almarai', sans-serif;
font-family: 'Dongle', sans-serif;
}
